name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
#   lint:
#     name: Lint
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v5

#       - name: Set up Ruby
#         uses: ruby/setup-ruby@v1

#       - name: Run linter
#         run: bundle exec rubocop

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Ruby and bundle install
        uses: ruby/setup-ruby@v1

      - name: Run Unit tests
        run: rake test